.card {
    width: 22em;
    height: 25em;
}
.image3{
    width: 100%;
    height: 25em;
    background-position: center center;
    background: cover;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: none;
  }