.card {
    width: 26em;
    height: 39em;
}
.image3 {
    // width: 100%;
    // height: 25em;
    background-position: center center;
    background: cover;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: none;
}
.slide {
    margin-top: -5%;
}
.count {
    display: block;
    position: absolute;
    top: -6px;
    right: 38px;
    padding: 0 4px;
    min-width: 20px;
    text-align: center;
    border: 1px solid #e7e7e9;
    background: pink;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.03);
    border-radius: 35px;
    z-index: 1;
    font-size: 11px;
    line-height: 18px;
    color: #6e6d7a;
}
.header {
    position: absolute;
    z-index: 3;
    width: 100%;
    top: 4%;
    margin-left: 2%;
}
.cart {
    margin-left: 58%;
}
.icon {
    zoom: 1.5;
}
.count1 {
    display: block;
    position: relative;
    width: 17%;
    margin: 1.7%;
    padding: 0 4px;
    min-width: 9px;
    text-align: center;
    border: 1px solid #e7e7e9;
    background: white;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 21%;
    z-index: 1;
    font-size: 13px;
    line-height: 20px;
    color: #6e6d7a;
}
.count1:focus {
    background: pink;
}
.size {
    display: flex;
}
.row1 {
    width: 100%;
}
.price {
    text-align: left;
    margin: 0 0 10px 10px;
}
.card1 {
    width: 100%;
    margin-inline-start: 0;
    margin-inline-end: 0;
    z-index: 2;
    margin-top: -24px;
    height: 256px;
}
.colors {
    display: grid;
    margin-left: 72%;
}
.colors1 {
    display: grid;
}
.count2 {
    display: block;
    position: relative;
    margin: 6.7%;
    width: 30px;
    border: 1px solid #e7e7e9;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 35px;
    z-index: 1;
    color: #6e6d7a;
}
.count2:focus {
    border-radius: 30px;
}
