<ion-content>
  <ion-grid>
    <ion-row class="header">
      <ion-col class="user-image">
        <ion-icon class="icon" name="chevron-back" (click)=back()></ion-icon>
      </ion-col>
      <ion-col class="cart">
        <ion-icon name="cart" class="icon"></ion-icon>
        <div class="count">2</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-slides>
        <ion-slide>
          <div class="slide">
            <ion-card class="card">
              <img class="image3" src="../../assets/dresses/coats/images3.jpg" />
            </ion-card>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="slide">
            <ion-card class="card">
              <img class="image3" src="../../assets/dresses/coats/images4.jpg" />
            </ion-card>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="slide">
            <ion-card class="card">
              <img class="image3" src="../../assets/dresses/coats/images5.jpg" />
            </ion-card>
          </div>
        </ion-slide>
      </ion-slides>
    </ion-row>
    <ion-row>
      <ion-card class="card1">
        <ion-row class="row1">
          <ion-col>
            <div class="price">
              <h2>Winter Coat</h2>
            </div>
            <div class="price">
              $ 45
            </div>
            <div class="price">
              <b>Your Size</b>
            </div>
            <div class="size">
              <button class="count1">S</button><button style="background: pink;" class="count1">M</button><button
                class="count1">L</button><button class="count1">XL</button>
            </div>
          </ion-col>
          <ion-col class="colors1">
            <div class="colors">
              <button style="background: gray;" class="count2"></button>
              <button style="background:pink" class="count2"></button>
              <button style="background:brown;" class="count2"></button>
              <button style="background: yellow;" class="count2"></button>
            </div>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>