<ion-content class="user-div">
  <ion-grid>
    <ion-row class="header">
      <ion-col class="user-image">
        <ion-icon name="person-circle-sharp" class="icon1"></ion-icon>
      </ion-col>
      <ion-col class="cart">
        <ion-icon name="cart" class="icon2"></ion-icon>
        <div class="count">2</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="box" *ngFor="let data of headerData">
        {{data}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-slides loop="true" slidesPerView="2">
        <ion-slide *ngFor="let drs of dress">
          <ion-card class="card1" routerLink="/product">
            <!-- <img [src]="drs.image" /> -->
            <img class="image3" [ngStyle]="{'background-image': 'url(' + drs.image + ')'}" />

            <ion-row>
              <ion-col>
                <p><b>{{drs.name}}</b></p>
              </ion-col>
              <ion-col>
                <h4>{{drs.price}}</h4>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-row>


    <ion-row>
      <p class="para"><b>Recommended For You</b></p>
    </ion-row>
    <ion-row>
      <ion-slides slidesPerView="2">
        <ion-slide>
          <div class="slide">
            <ion-card class="card">
              <img class="image3"  src="../../assets/dresses/coats/download4.jpg" />
              
            </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <ion-card class="card">
              <img class="image3" src="../../assets/dresses/coats/download1.jpg" />
              
            </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <ion-card class="card">
              <img class="image3" src="../../assets/dresses/coats/download2.jpg" />
              
            </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <ion-card class="card">
              <img class="image3" src="../../assets/dresses/coats/images.jpg" />
          
            </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <ion-card class="card">
              <img class="image3" src="../../assets/dresses/coats/download.jpg" />
              
            </ion-card>
          </div>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-grid>
</ion-content>