<ion-content class="user-div">
  <ion-grid class="body">
    <ion-row class="header">
      <ion-col class="user-image">
        <ion-icon name="person-circle-sharp" class="icon1"></ion-icon>
      </ion-col>
      <ion-col class="cart">
        <ion-icon name="cart" class="icon2"></ion-icon>
        <div class="count">2</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <button class="box1">Coats</button>
      <button class="box" *ngFor="let data of headerData">
        {{data}}
      </button>
    </ion-row>

    <ion-slides>
      <ion-slide *ngFor="let drs of dress" class="dress-slide">
        <ion-card class="card1" routerLink="/product">
          <img class="image4" [ngStyle]="{'background-image': 'url(' + drs.image + ')'}" />
          <ion-row>
            <ion-col>
              <p class="text"><b>{{drs.name}}</b></p>
            </ion-col>
            <ion-col>
              <h4 class="text1">{{drs.price}}</h4>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-slide>
    </ion-slides>
    <!-- <ion-slides class="image-slider" loop="true"  slidesPerView="2" [options]="slideOpts">
      <ion-slide *ngFor="let drs of dress" class="imageslide">
        <img [ngStyle]="{'background-image': 'url(' + drs.image + ')'}" class="hotelSmallImg"  />
        <ion-row>
          <ion-col>
            <p class="text"><b>{{drs.name}}</b></p>
          </ion-col>
          <ion-col>
            <h4 class="text1">{{drs.price}}</h4>
          </ion-col>
        </ion-row>
      </ion-slide>
    </ion-slides> -->



    <ion-row class="col-1">
      <p class="para"><b>Recommended For You</b></p>
    </ion-row>
    <ion-row>
      <ion-slides slidesPerView="2">
        <ion-slide class="dress-slide1">
          <ion-card class="card2" routerLink="/product">
            <img class="image3" src="../../assets/dresses/coats/download4.jpg" />
            <div class="count1">10% OFF</div>
          </ion-card>
        </ion-slide>

        <ion-slide class="dress-slide1">
          <ion-card class="card2" routerLink="/product">
            <img class="image3" src="../../assets/dresses/coats/download1.jpg" />
          </ion-card>
        </ion-slide>

        <ion-slide class="dress-slide1">
          <ion-card class="card2" routerLink="/product">
            <img class="image3" src="../../assets/dresses/coats/download2.jpg" />
            <div class="count1">15% OFF</div>
          </ion-card>
        </ion-slide>

        <ion-slide class="dress-slide1">
          <ion-card class="card2" routerLink="/product">
            <img class="image3" src="../../assets/dresses/coats/images.jpg" />
          </ion-card>
        </ion-slide>

        <ion-slide class="dress-slide1">
          <ion-card class="card2" routerLink="/product">
            <img class="image3" src="../../assets/dresses/coats/download.jpg" />
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-row>
    <ion-row>
      <button class="count2">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-row>
  </ion-grid>
</ion-content>